.container {
  display: grid;
  justify-items: center;
  align-items: center;

}

.btn {
    display: block;
    width: 150px;
    height: 55px;
    margin: 50px auto;
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 1.2em;
}
